config:
  backup: true
  create: true
  longkey: true
  dotpath: dotfiles
  cmpignore:
  - '*.log'
  upignore:
  - '*.log'
  instignore:
  - '*.log'
  impignore:
  - '*.log'

dotfiles:
  f_zshenv:
    src: zshenv
    dst: ~/.zshenv
  f_brewfile:
    src: Brewfile
    dst: ~/Brewfile
  f_p10k.zsh:
    src: p10k.zsh
    dst: ~/.p10k.zsh
  f_com.googlecode.iterm2.plist:
    src: com.googlecode.iterm2.plist
    dst: ~/com.googlecode.iterm2.plist
  f_ignore:
    src: ignore
    dst: ~/.ignore
  f_background:
    src: Imagens/09.jpg
    dst: ~/Imagens/09.jpg
  f_config_sublime-text_default.profile:
    src: config/sublime-text/Packages/sublime-profiles/Data/Default.profile
    dst: ~/.config/sublime-text/Packages/sublime-profiles/Data/Default.profile
  f_config_sublime-text_writer.profile:
    src: config/sublime-text/Packages/sublime-profiles/Data/Writer.profile
    dst: ~/.config/sublime-text/Packages/sublime-profiles/Data/Writer.profile
  f_library_sublime-text_tokyonight_night.tmtheme:
    src: Library/Application Support/Sublime Text
      3/Packages/tokyonight_night.tmTheme
    dst: ~/Library/Application Support/Sublime Text
      3/Packages/tokyonight_night.tmTheme
  f_library_sublime-text_default.profile:
    src: Library/Application Support/Sublime Text
      3/Packages/sublime-profiles/Data/Default.profile
    dst: ~/Library/Application Support/Sublime Text
      3/Packages/sublime-profiles/Data/Default.profile
  f_library_sublime-text_writer.profile:
    src: Library/Application Support/Sublime Text
      3/Packages/sublime-profiles/Data/Writer.profile
    dst: ~/Library/Application Support/Sublime Text
      3/Packages/sublime-profiles/Data/Writer.profile
  d_config_zsh:
    src: config/zsh
    dst: ~/.config/.zsh/
    ignoreempty: true
    cmpignore:
    - '*/plugins'
    - '.zcompdump'
    - '.zsh_history'
    - '*.zwc'
    - '*/completions/*'
    - '*/.functions_cache/*'
    upignore:
    - '*/plugins'
    - '.zcompdump'
    - '.zsh_history'
    - '*.zwc'
    - '*/completions/*'
    - '*/.functions_cache/*'
    instignore:
    - '*/plugins'
    - '.zcompdump'
    - '.zsh_history'
    - '*.zwc'
    - '*/completions/*'
    - '*/.functions_cache/*'
  d_config_btop:
    src: config/btop
    dst: ~/.config/btop/
    cmpignore:
    - '*/themes'
    upignore:
    - '*/themes'
    instignore:
    - '*/themes'
  d_config_foot:
    src: config/foot
    dst: ~/.config/foot/
  d_config_mako:
    src: config/mako
    dst: ~/.config/mako
  d_config_sway:
    src: config/sway
    dst: ~/.config/sway/
  d_config_waybar:
    src: config/waybar
    dst: ~/.config/waybar/
  d_mpv:
    src: config/mpv
    dst: ~/.config/mpv
  d_yt-dlp:
    src: config/yt-dlp
    dst: ~/.config/yt-dlp
  d_config_fastfetch:
    src: config/fastfetch
    dst: ~/.config/fastfetch
  d_config_kitty:
    src: config/kitty
    dst: ~/.config/kitty
profiles:
  base:
    dotfiles:
    - f_zshenv
    - f_p10k.zsh
    - f_ignore
    - f_background
    - d_config_zsh
    - d_config_btop
    - d_config_fastfetch
    - d_config_kitty
  fedora:
    dotfiles:
    - f_config_sublime-text_default.profile
    - f_config_sublime-text_writer.profile
    - d_config_foot
    - d_config_mako
    - d_config_sway
    - d_config_waybar
    - d_mpv
    - d_yt-dlp
    include:
    - base
  mac:
    dotfiles:
    - f_brewfile
    - f_com.googlecode.iterm2.plist
    - f_library_sublime-text_tokyonight_night.tmtheme
    - f_library_sublime-text_default.profile
    - f_library_sublime-text_writer.profile
    include:
    - base
