* {
	border: none;
	border-radius: 0px;
	font-family: "JetBrainsMono Nerd Font";
	font-size: 12px;
}

.modules-left {
	margin-left: 12px;
}

.modules-center {
	color: #c0caf5;
}

.modules-right {
	margin-right: 16px;
	color: #c0caf5;
}

#waybar {
	background-color: #16161e;
}

#workspaces button {
	border-radius: 8px;
	transition: color 400ms ease-in-out;
	border: none;
	color: #545c7e;
	padding: 0px 4px;
	margin: 0px 8px 0px 0px;
}

#workspaces button.focused {
	color: #bb9af7;
}

#workspaces button:hover {
	background: none;
	box-shadow: none;
	text-shadow: none;
}

#workspaces button.focused:hover {
	background: none;
}

#workspaces button.urgent {
	color: #F22816;
}

#waybar.empty #window {
	background-color: transparent;
	padding: 0;
}

#mode {
	color: #e0af68;
	font-weight: 700;
}

#custom-power {
	color: #f7768e;
	font-size: 20px;
	margin-right: 2px;
}

#privacy {
	font-size: 20px;
}

#custom-quit,
#custom-lock,
#custom-reboot {
	font-size: 20px;
	margin: 0 8px
}


#custom-reboot {
	margin-right: 14px
}

tooltip {
	background-color: #15161e;
}
