* {
  font-family: "JetBrainsMono Nerd Font", "Material Design Icons Desktop";
  font-size: 12px;
  font-weight: 400;
}

.modules-left, .modules-center, .modules-right {
  margin-bottom: 4px;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces {
  background-color: #1b222d;
  border-radius: 8px;
  margin: 4px 0px;
}

#workspaces button {
  color: #98a8c5;
  padding: 4px 8px;
}

#workspaces button.focused {
  background-color: #98a8c5;
  border-radius: 8px;
  color: #1b222d;
}

#workspaces button:hover {
  background-color: #fff;
  border-radius: 8px;
  color: #1b222d;
}

#window {
  background-color: #1b222d;
  border-radius: 8px;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  margin: 4px 0px;
  padding: 0px 16px;
}

#waybar.empty #window {
  background-color: transparent;
  padding: 0;
}

#mode{
  background-color: #ffb374;
  border-radius: 8px;
  color: #1b222d;
  font-weight: 700;
  margin: 4px 0px;
  padding: 0px 16px;
}

#clock, #pulseaudio, #network, #custom-power {
  background-color: #1b222d;
  border-radius: 8px;
  margin: 4px 0px;
  padding: 8px 16px;
}

#clock {
  color: #ffd484;
  border-radius: 8px;
}

#network {
  color: #8fc8BB;
}

#pulseaudio {
  color: #ffd484;
}

#custom-power {
  background-color: #e78482;
  border-radius: 8px;
  color: #1b222d;
  font-size: 16px;
}

tooltip {
  border-radius: 4px;
  background-color: #1b222d;
}
