* {
  font-family: "JetBrainsMono Nerd Font", "Material Design Icons Desktop";
  font-size: 12px;
}

.modules-left, .modules-center, .modules-right {
  margin-bottom: 4px;
  margin-top: 4px;
}

.modules-left {
  margin-left: 16px;
}

.modules-right {
  margin-right: 16px;
}

window#waybar {
  background-color: #1A1B26;
}

#workspaces {
  border-radius: 4px;
}

#workspaces button {
  background-color: #1A1B26;
  border: none;
  color: #C0CAF5;
  font-size: 10px;
  padding: 0px 8px;
}

#workspaces button:not(:last-child) {
   margin-right: 4px;
}

#workspaces button.focused {
  background-color: #16161e;
  color: #BB9AF7;
}

#workspaces button:hover {
    box-shadow: none;
    text-shadow: none;
    color: #C0CAF5;
    background: #16161e;
    transition: none;
}

#workspaces button.focused:hover {
  background-color: #16161e;
  color: #BB9AF7;
}

#workspaces button.urgent {
  color: #e0af68;
}

#window {
  color: #C0CAF5;
  padding: 0px 8px;
}

#waybar.empty #window {
  background-color: transparent;
  padding: 0;
}

#mode{
  border-radius: 4px;
  color: #e0af68;
  font-weight: 700;
  padding: 0px 8px;
}

#clock, #wireplumber, #network {
  background-color: #292e42;
  border-radius: 4px;
  /* margin-right: 16px; */
  color: #C0CAF5;
  padding: 0 12px;
}

#custom-power {
  background-color: #292e42;
  border-radius: 4px;
  color: #f7768e;
  font-size: 16px;
  padding: 4px 4px;
}

tooltip {
  border-radius: 4px;
  background-color: #15161E;
}
